.custom-segment {
    --background: var(--ion-color-dark);
    --color-checked: var(--ion-color-light);
    --indicator-color: var(--ion-color-primary);
    --color: black;
  }

  ion-segment-button {
    --indicator-color: var(--ion-color-primary);
  }

/* Material Design styles */
ion-segment-button.md {
    --color: #000;
    --color-checked: var(--ion-color-primary);
    --indicator-height: 4px;
  }

  ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
  }
  