// ion-card {
//   --ion-card-background: rgb(173, 223, 246);
// }

ion-input {
  --placeholder-color: rgba(26, 25, 25, 0.78);
  --border-color: black;
  --color: black;
  --highlight-color-focused: black;
  --highlight-color-valid: black;
}



