<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding" color="dark">
    <ion-breadcrumbs color="light">
      <ion-breadcrumb>
        <ion-icon slot="start" name="cloud-outline"></ion-icon>
        Weather.
      </ion-breadcrumb>
      <ion-breadcrumb>
        <ion-searchbar placeholder="Search by City" debounce="1000" color="dark" [(ngModel)]="cityName" (ionInput)="makeWeatherCall()"></ion-searchbar>
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </div>
  

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title>
              <h1>{{weatherData.city.name}}</h1>
              <p>{{weatherData.city.country}}</p>
            </ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content> Card Content </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>







  <!-- SKELETON -->
  <!-- <div *ngIf="!reqComplete">
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-item>
  </div> -->
